<% provide(:about_active, 'active') %>

<h1>About this application</h1>
<p> This application was created as a code challenge given by Ayzenberg"</p>
<p> This app uses: </p>
<ul>
<li>Bootstrap for styling</li>
<li>Devise for user creationg and authentication</li>
<li>will_paginate to support pets pagination</li>
<li>Heroku: http://pet-network.herokuapp.com/</li>
<li>Github as repo provider: https://github.com/hectorMiranda/pet-network </li>

</ul>




