  <% @comments.each do |comment| %>
    <div class="card comment">
      <%= comment.user.email %> said: <br/>  
      <%= comment.content %> 
    </div>
    <% end %>
</div>
<%= render 'comments/form' %>
</div>
