<% provide(:page_title, 'All pets') %>
<% provide(:pet_active, 'active') %>
<p id="notice"><%= notice %></p>

<div class="row">
  <%= render @pets %>
</div>
<div class="pagination">
  <%= will_paginate @pets %>
</div>


